html {
    box-sizing: border-box;
}

*,
*::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: brown;
    color: #f0f0f0;
}

.btn-container {
    max-width: 1200px;
    height: 500px;
    margin: 30px auto;
    text-align: center;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    
}

.btn {
    flex: 1 0 250px;
    border-radius: 10px;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid #000000;
    transition: border ease .1s;
    background-color: #26006E;
}

.btn:hover {
    border-color: #6186ff;
}

.btn.rock {
    background-image: url("icons/rock.png");
}

.btn.paper {
    background-image: url("icons/paper.png");
}

.btn.scissors {
    background-image: url("icons/scissors.png")
}

.display {
    height: 200px;
    text-align: center;
    font-size: 42px;
    color: white;
}